<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dbname</param-name>
        <param-value>Users</param-value>
    </context-param>
    <filter>
        <filter-name>GlobalAuthenticationFilter</filter-name>
        <filter-class>filters.GlobalAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GlobalAuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>RF</filter-name>
        <filter-class>filters.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RF</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>InvoiceViewerServlet</display-name>
        <servlet-name>InvoiceViewerServlet</servlet-name>
        <servlet-class>com.InvoiceViewerServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>NewUserServlet</display-name>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>com.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>PatientSignupServlet</display-name>
        <servlet-name>PatientSignupServlet</servlet-name>
        <servlet-class>com.PatientSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>EmployeeSignupServlet</display-name>
        <servlet-name>EmployeeSignupServlet</servlet-name>
        <servlet-class>com.EmployeeSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>NewEmployeeServlet</display-name>
        <servlet-name>NewEmployeeServlet</servlet-name>
        <servlet-class>com.NewEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>NewEmployeeAppointmentServlet</display-name>
        <servlet-name>NewEmployeeAppointmentServlet</servlet-name>
        <servlet-class>com.NewEmployeeAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>IssueInvoiceServlet</display-name>
        <servlet-name>IssueInvoiceServlet</servlet-name>
        <servlet-class>com.IssueInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>InvoiceDownloadServlet</display-name>
        <servlet-name>InvoiceDownloadServlet</servlet-name>
        <servlet-class>com.InvoiceDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>PricesChangerServlet</display-name>
        <servlet-name>PricesChangerServlet</servlet-name>
        <servlet-class>com.PricesChangerServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>PricesViewerServlet</display-name>
        <servlet-name>PricesViewerServlet</servlet-name>
        <servlet-class>com.PricesViewerServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ViewPatientsServlet</display-name>
        <servlet-name>ViewPatientsServlet</servlet-name>
        <servlet-class>com.ViewPatientsServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ViewEmployeesServlet</display-name>
        <servlet-name>ViewEmployeesServlet</servlet-name>
        <servlet-class>com.ViewEmployeesServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>NewReferralServlet</display-name>
        <servlet-name>NewReferralServlet</servlet-name>
        <servlet-class>com.NewReferralServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ClientInvoiceViewerServlet</display-name>
        <servlet-name>ClientInvoiceViewerServlet</servlet-name>
        <servlet-class>com.ClientInvoiceViewerServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>PayInvoiceServlet</display-name>
        <servlet-name>PayInvoiceServlet</servlet-name>
        <servlet-class>com.PayInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>NewAppointmentServlet</display-name>
        <servlet-name>NewAppointmentServlet</servlet-name>
        <servlet-class>com.NewAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ViewReferralsServlet</display-name>
        <servlet-name>ViewReferralsServlet</servlet-name>
        <servlet-class>com.ViewReferralsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInvoiceServlet</servlet-name>
        <servlet-class>com.UpdateInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ApproveNewUsersServlet</display-name>
        <servlet-name>ApproveNewUsersServlet</servlet-name>
        <servlet-class>com.ApproveNewUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsersServlet</servlet-name>
        <servlet-class>com.ViewUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>CancelAppointmentServlet</display-name>
        <servlet-name>CancelAppointmentServlet</servlet-name>
        <servlet-class>com.CancelAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>CreatePrescriptionServlet</display-name>
        <servlet-name>CreatePrescriptionServlet</servlet-name>
        <servlet-class>com.CreatePrescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ViewPrescriptionsServlet</display-name>
        <servlet-name>ViewPrescriptionsServlet</servlet-name>
        <servlet-class>com.ViewPrescriptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>RespondToPendingPrescriptionExtensionsServlet</display-name>
        <servlet-name>RespondToPendingPrescriptionExtensionsServlet</servlet-name>
        <servlet-class>com.RespondToPendingPrescriptionExtensionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RespondToPendingPrescriptionExtensionsServlet</servlet-name>
        <url-pattern>/RespondToPendingPrescriptionExtensionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPrescriptionsServlet</servlet-name>
        <url-pattern>/ViewPrescriptionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveNewUsersServlet</servlet-name>
        <url-pattern>/ApproveNewUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReferralsServlet</servlet-name>
        <url-pattern>/ViewReferralsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAppointmentServlet</servlet-name>
        <url-pattern>/NewAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPatientsServlet</servlet-name>
        <url-pattern>/ViewPatientsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeesServlet</servlet-name>
        <url-pattern>/ViewEmployeesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceViewerServlet</servlet-name>
        <url-pattern>/InvoiceViewerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/NewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSignupServlet</servlet-name>
        <url-pattern>/PatientSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeSignupServlet</servlet-name>
        <url-pattern>/EmployeeSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEmployeeServlet</servlet-name>
        <url-pattern>/NewEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEmployeeAppointmentServlet</servlet-name>
        <url-pattern>/NewEmployeeAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueInvoiceServlet</servlet-name>
        <url-pattern>/IssueInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceDownloadServlet</servlet-name>
        <url-pattern>/InvoiceDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricesViewerServlet</servlet-name>
        <url-pattern>/PricesViewerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricesChangerServlet</servlet-name>
        <url-pattern>/PricesChangerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewReferralServlet</servlet-name>
        <url-pattern>/NewReferralServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentServlet</servlet-name>
        <url-pattern>/CancelAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientInvoiceViewerServlet</servlet-name>
        <url-pattern>/ClientInvoiceViewerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayInvoiceServlet</servlet-name>
        <url-pattern>/PayInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInvoiceServlet</servlet-name>
        <url-pattern>/UpdateInvoiceServlet</url-pattern>
    </servlet_mapping>
    <servlet-mapping>
        <servlet-name>ViewUsersServlet</servlet-name>
        <url-pattern>/ViewUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePrescriptionServlet</servlet-name>
        <url-pattern>/CreatePrescriptionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
