body {
  height: 100vh;
  width: 100%;
  background: whitesmoke;
}

.top-banner {
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  
  /* 5px rounded corners */
  background: linear-gradient(4deg, #84CEEB 10%, #8860D0 90%);
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 43px;
}


h2 {
  margin: 0;
}

.center {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 4px;
}

.content {
  margin: 55px 0px;
}


/* Set a style for all buttons */
.button {
  background-color: transparent;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 12pt;
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.button:hover {
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {}


.dropdown {
  float: left;
  overflow: hidden;
}

.logout {
  float: right;
}

.menu .logout {
  font-size: 16px;  
  color: white;
  padding: 0px 0px;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .menu-content {
  display: block;
}

.left {
    margin-left: 15px;
    width: 30%;
    float: left;
}

/* Creates a card type effect */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 10px 50px 60px -20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  /* 5px rounded corners */
  background: linear-gradient(140deg, #84CEEB 10%, #8860D0 90%);
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

/* On mouse-over, add a deeper shadow */
.card:hover {}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px rgba(46, 49, 49, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(46, 49, 49, 0.3);
  color: white;
}


/* Set a style for all buttons */
.button {
  background-color: transparent;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


/* Formating pre filled  */
::placeholder {
  color: white;
}


/* Add a hover effect for buttons */
.button:hover {
  opacity: 0.8;
}


/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px rgba(46, 49, 49, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(46, 49, 49, 0.3);
  color: white;
}

input[type=date],
input[type=time] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px rgba(46, 49, 49, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(46, 49, 49, 0.3);
    color: white;
}

.patients-card {
    height: 603px;    
}

.list {
    overflow: auto;
    height: 450px;
}

.patients-table {
    width: 100%;
    text-align: center;
}

td {
    width: 169px;
}

th {
    width: 169px;
}

.patients-table-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    border-bottom-width: 75%;
    margin-bottom: 5px;
}

.radio-button {
    max-width: 100px;
    float: left;
    margin-right: 30px;
}

.patientlist-filteroptions {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;
}

.patientlist-filteroptions input[type="radio"] {
    display: none;
}

.patientlist-filteroptions label {
    display: inline-block;
    border: 1px rgba(46, 49, 49, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(46, 49, 49, 0.3);
    color: white;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.patientlist-filteroptions input[type="radio"]:checked+label {
    background-color: rgba(46, 49, 49, 0.6);
    font-weight: bold;
}

.update-button {
    background-color: transparent;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}